/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("styless.css");

/* ----- VARIABLES ----- */
:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(108, 100, 78);

    --first-color: rgb(215, 160, 77);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(123, 115, 79);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}

/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}


/* ---##-- REUSABLE CSS --##--- */

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--second-color);
    color: var(--color-white);
}

/* ----- GLOBAL ICONS DESIGN ----- */
i{
    font-size: 16px;
}

/* ------- BASE -------- */
body{
    background: var(--body-color);
}
.container{
    width: 100%;
    position: relative;
}

/* ----- NAVIGATION BAR ----- */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
   position: relative;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}
.nav-menu, .nav_menu_list{
    display: flex;
}
.nav-menu .nav_list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}
.active-link{
    position: relative;
    color: var(--first-color);
    transition: .3;
}
.active-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--first-color);
    border-radius: 50%;
}


/* ----- WRAPPER DESIGN ----- */
.wrapper{
    padding-inline: 10vw;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}
body{
	background: rgb(161, 139, 104);
	background-size: cover;
	color: whitesmoke;
}
.timeline-wrapper{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 12% 2rem;
}
.timeline-row{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax (300px, 1fr));
}
.heading{
	font-size: 2.5rem;
	margin: 2rem 0;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 5rem 10px;
}
.heading i{
	font-size: 4rem;
}
.content-box{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 2rem;
	margin: 0 2rem;
	background-color: rgba(255,255,255,0.15);
	backdrop-filter: blur(20px);
	border: 3px solid white;
	border-radius: 1rem;
	font-size: 14px;
	transition: 0.4s ease;
	cursor: pointer;
}
.content-box:hover{
	box-shadow: 0 0 25px rgba(174,133,77,1.00);
	border: 3px solid rgba(174,133,77,1.00);
}
.timeline-box{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-left: 5px solid rgba(174,133,77,1.00);
}
.content-box h3{
	font-size: 1.3rem;
}
.date{
	font-size: 1.7rem;
	color: antiquewhite;
	font-weight: 700;
}
.content-box:before{
	position: absolute;
	content: '';
	width: 25px;
	height: 25px;
	background-color: rgba(139,89,48,1.00);
	border-radius: 50%;
	left: -50px;
	top: 90px;
}